<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>Hello, Spring!!!</h1>
<thead>
<tr>
    <th> Firstname </th>
    <th> Lastname </th>
    <th> Salary </th>
    <th> Age </th>
</tr>
<table>
</thead>
<tbody>
<tr th:if="${residents.isEmpty()}">
    <td colspan="2"> No Books Available </td>
</tr>
<tr th:each="resident : ${residents}">
    <td><span th:text="${resident.getFirstName()}"> Firstname </span></td>
    <td><span th:text="${resident.getLastName()}"> Lastname </span></td>
    <td><span th:text="${resident.getSalary()}"> Salary </span></td>
    <td><span th:text="${resident.getAge()}"> Age </span></td>
</tr>
</tbody>
</table>
</body>
</html>